#root {
	max-width: 600px;
	text-align: center;
}

div#calc {
	width: 320px;
	padding: 5px;
	border-radius: 18px;
	backdrop-filter: blur(6px);
	border: 2px solid #e0bd770f;
    width: clamp(290px, 95vw, 360px);
	box-shadow: 0px 0px 10px 2px #201501;
}
