* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	height: 100vh;
	height: 100dvh;
	align-items: center;
	justify-content: center;
	background: linear-gradient(45deg, #2f0602, #594316);
}
